#myform{
	width: 600px;

	background-color: #fff;
	opacity: 0.8;
	margin: 0 auto;
	margin-top: 50px;
	border-radius: 10px;
	-webkit-animation:myanimation forwards  1s 0.1s ease;
	-moz-animation:myanimation forwards  1s 0.1s ease;
	animation:myanimation forwards  1s 0.1s ease;
	-webkit-transform:translateY(-1050px);
	-moz-transform:translateY(-1050px);
	transform:translateY(-1050px);
	overflow: hidden;
}
@-webkit-keyframes myanimation{
	0%{

	}
	100%{
		-webkit-transform:translateY(0px);
	}
}
@-moz-keyframes myanimation{
	0%{

	}
	100%{
		-moz-transform:translateY(0px);
	}
}
@keyframes myanimation{
	0%{

	}
	100%{
		transform:translateY(0px);
	}
}
#myform .title{
	height: 40px;
	line-height: 40px;
	text-indent: 10px;
	text-align: left;
	background-color: #EB7B9F;
	color:#fff;
}
#myform p{
	height: 60px;
	margin: 10px 0 10px 0;
}
#myform label{
	display: block;
	float: left;
	width: 100px;
	color: #333;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
#myform input.inbar{
	width: 460px;
	height: 40px;
	border: 1px solid #EB7B9F;
	float: left;
	border-radius: 6px;
	line-height: 40px;
	text-indent: 10px;
	font-size:18px;
	outline:none;
}
#myform .frist{
	margin-top: 50px;
}
#myform input.button{
	display: block;
	border:0 none;
	width: 150px;
	background-color: #EB7B9F;
	height: 40px;
	line-height: 40px;
	color: #fff;
	text-align: center;
	margin:0 auto;
	border-radius: 12px;
	outline:none;
}
#myform input.button:active{
	background-color: #ccc;
}
