<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../static/public/header.css">
	<link rel="stylesheet" type="text/css" href="../static/read/main.css">
</head>
<body>
	<div id="header">
		<div class="bg"></div>
		<div class="show"></div>
		<div class="nav">
			<div class="content">
				<ul class="left">
					<li class="logo">Thisummer</li>
					<li><a href="http://127.0.0.1:5000">主页</a></li>
					<li><a href="http://127.0.0.1:5000/wen">文章</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="content">
		<h1>{{title}}</h1>
		<p>{{content}}</p>
	</div>	
	<div id="bottom">
		<div class="content">
			<p>millent v 1.1.0</p>
		</div>
	</div>	
</body>
</html>
